<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="icon" href="https://ae01.alicdn.com/kf/Hb54975f7973845bf9f54a110dfd65064i.png" type="image/x-icon">

    <meta charset="UTF-8">
    <title>视频解析</title>
    <meta name="description" content="酷豆去水印,免费快首，微博，微视，皮皮虾等短视频去水印工具，免费支持批量解析任何斗因短视频,并且解析出来的视频没有水印，去水印小程序.手机、平板、电脑上都可以用的辅助下载工具,轻松一键保存无水印斗因短视频到手机相册或电脑本地。">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <script src="static/js/bootstrap.min.js"></script>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <script src="static/js/vue.min.js"></script>
    <script src="static/js/vue-resource.min.js"></script>
    <script src="static/js/md5.min.js"></script>
    <script src="static/js/tcaptcha.js"></script>
    <style type="text/css">
        .my-navbar {
            background: #000
        }
        
        .my-navbar a {
            background: transparent !important;
            color: #fff !important
        }
        
        .my-navbar a:hover {
            color: rgb(106, 240, 175) !important;
            background: transparent;
            outline: 0
        }
        
        .my-navbar a {
            transition: color 0.1s ease-in-out;
        }
        
        .content {
            width: 100%;
            margin: 0 auto;
            color: black;
            padding: 5px;
            margin: 5px auto;
        }
        
        .agreement {
            width: 100%;
        }
        
        .header {
            width: 98%;
            margin: 0 auto;
            font-size: 20px;
        }
        
        .headerPlatform {
            width: 98%;
            margin: 0 auto;
            font-size: 15px;
            font-weight: 500;
            /* color:#8799a3; */
            color: #4F86C6;
        }
        
        .parseContent {
            width: 98%;
            margin: 0 auto;
            color: black;
        }
        
        .modal {
            display: none;
            /* 默认隐藏 */
            position: fixed;
            z-index: 1000000;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
        }
        
        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            width: 50%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s
        }
    </style>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?b005c1b71f2dbe03f86c8945fd59f0ae";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>

<body class="all">
    <nav class="navbar navbar navbar-default my-navbar" style="background: #2d8cf0" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" style="border: #000" data-toggle="collapse" data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">酷豆去水印</a>
        </div>
        <div class="navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/kuaishou.html" title="快首去水印">
                        
                        <text style="color:rgb(106, 240, 175)">快首去水印</text>
                        
                    </a>
                </li>
                <li>
                    <a href="/douyin.html" title="斗因去水印">
                        
                        <text>斗因去水印</text>
                        
                    </a>
                </li>

                <li>
                    <a href="/xigua.html" title="微博，全民去水印">
                        
                        <text>微博，全民去水印</text>
                        
                    </a>
                </li>
                <li>
                    <a href="/weishi.html" title="微视，皮皮虾，美拍去水印">
                        
                        <text>微视，皮皮虾，美拍去水印</text>
                        
                    </a>
                </li>
                <li>
                    <a href="/upload.html" title="图片转链接">
                        
                        <text>图片转链接</text>
                        
                    </a>
                </li>
                <li>
                    <a href="https://tb.aibetween.com/index.php?r=nine" target="_blank" title="9.9包邮">
                        
                        <text style="color:rgb(74, 241, 88)">9.9包邮</text>
                        
                    </a>
                </li>
                <li>
                    <a href="https://tb.aibetween.com/index.php?r=ddq" target="_blank" title="秒杀">
                        
                        <text style="color:rgb(74, 241, 88)">秒杀</text>
                        
                    </a>
                </li>
                <li>
                    <a href="https://tb.aibetween.com/?i=1" target="_blank" title="淘宝内部优惠券">
                        
                        <text style="color:rgb(74, 241, 88)">淘宝内部优惠券</text>
                        
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="agreement" style="text-align: left;margin-left: 10px">
        <div class="header">
            <h4 class="headerTitle"><label style="color:red">去水印</label></h4>
        </div>
    </div>
    <div class="agreement" style="text-align: left;margin-left: 10px">
        <div class="header">
            <label class="headerPlatform">支持：快*，*音，秒拍，toktok，贴吧，火锅，微博，微视，小红书，美拍等30多个短视频平台</label>
        </div>
    </div>
    <div class="content" id='allContent'>
        <div id='parse' class="parseContent">
            <div class="input-group input-group-lg" style="margin-bottom: 10px;z-index:10">
                <input name="sourceURL" v-model="sourceURL" type="text" class="form-control link-input" placeholder="请粘贴从中复制的视频链接">
                <div class="input-group-btn">
                    <div class="btn-clear"></div>
                    <button class="btn btn-success" v-on:click="parseClick" type="default">[[parseBtnText]]</button>
                </div>
            </div>

            <div class="thumbnail" v-show='hasResponse'>
                <div class="caption" style="padding:5px 0 0;">
                    <p style="text-align: center;">
                        <a target="_blank" rel="noreferrer" v-on:click="downloadVideo" class="btn btn-success" download="video.mp4">下载无水印视频</a>
                        <a target="_blank" rel="noreferrer" v-on:click="downloadCover" class="btn btn-info" download="cover.jpg">视频封面</a>
                        <a v-on:click="clearURL()" class="btn btn-danger">清空</a>
                    </p>

                    <p style="text-align: center;color: red">如果在手机上无法下载，请在电脑操作。方法：电脑浏览器输入：https://dy.kukutool.com 解析后可以直接下载无水印视频和音乐
                    </p>
                </div>
            </div>
            <div v-show="isLoading" class="alert alert-primary" style="text-align: center;">处理中，请稍等几秒...</div>
            <div v-show="showError" class="alert alert-danger" style="text-align: center;">[[errorMessage]]</div>
            <div class="other-info" v-show='hasResponse'>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-success">
                        <p style="word-wrap:break-word;">
                            无水印视频地址：
                            <a target="_blank" rel="noreferrer" v-on:click="downloadVideo">
                                [[realDownloadURL]]</a>
                        </p>
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <p style="word-wrap:break-word;">
                            视频封面：
                            <a target="_blank" rel="noreferrer" v-on:click="downloadCover">[[coverURL]]</a>
                        </p>
                    </li>

                </ul>
            </div>
        </div>
        <div align="center" style="">
            <div style="display: inline;">
                <label style="margin-left:0px;margin-top: 0px">
                    <div style="display: block;text-align:center">
                        <div v-if="isMobile == true">
                            <img style="max-width:200px;" src="" class="pic_devcode">
                            </img>
                        </div>
                        <div v-else>
                            <img style="max-width:300px;" src="" class="pic_devcode">
                            </img>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </div>
    <p style="text-align: center;">
        视频归相关网站及作者所有，本站不存储任何视频及图片
    </p>
    </div>

    <!-- 弹窗 -->
    <div id="myModal" class="modal">
        <!-- 弹窗内容 -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>网站公告</h2>
            </div>
            <div class="modal-body">
                </br>
                <!-- <a target="_blank " style="margin-top: 20px;font-size: 18px" rel="noreferrer "
                            href="{[parseResultURL]} " download="{[downloadName]}">点击下载无水印视频</a>
                        </br>
                        <a target="_blank " style="margin-top: 30px;font-size: 18px" rel="noreferrer "
                            href="{[parseCoverURL]} " download="{[downloadName]}">
                            点击下载封面</a>
                        </br> -->
                <div>
                    <label style="font-size: 16px">网站升级维护中，请明天再使用。</label>
                </div>
            </div>
        </div>

    </div>
    </div>
</body>
<script type="text/javascript">
    //判断访问终端
    var browser = {
        versions: function() {
            var u = navigator.userAgent,
                app = navigator.appVersion;
            return {
                trident: u.indexOf('Trident') > -1, //IE内核
                presto: u.indexOf('Presto') > -1, //opera内核
                webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
                mobile: !!u.match(/AppleWebKit.*Mobile.*/), //是否为移动终端
                ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
                android: u.indexOf('Android') > -1 || u.indexOf('Adr') > -1, //android终端
                iPhone: u.indexOf('iPhone') > -1, //是否为iPhone或者QQHD浏览器
                iPad: u.indexOf('iPad') > -1, //是否iPad
                webApp: u.indexOf('Safari') == -1, //是否web应该程序，没有头部与底部
                weixin: u.indexOf('MicroMessenger') > -1, //是否微信 （2015-01-22新增）
                qq: u.match(/\sQQ/i) == " qq " //是否QQ
            };
        }(),
        language: (navigator.browserLanguage || navigator.language).toLowerCase()
    }

    function generateStr(str) {
        var hash = md5(str);
        return hash
    }

    function generateRandom() {
        c = Math.random().toString(10).substring(2)
        return c
    }
    var vm = new Vue({
        el: '#allContent',
        delimiters: ['[[', ']]'],
        data: {
            isMobile: true,
            sourceURL: '',
            hasResponse: false,
            isLoading: false,
            showError: false,
            parseBtnText: '解析',
            errorMessage: '解析失败',
            title: '哈哈哈哈',
            description: '',
            realDownloadURL: '',
            coverURL: '',
            ticket: '',
            randstr: '',
            tasks: [

            ]
        },

        methods: {
            parseClick: function() {

                // // 获取弹窗
                // var modal = document.getElementById('myModal');
                // modal.style.display = "block";
                // // 打开弹窗的按钮对象
                // var btn = document.getElementById("myBtn");
                // // 获取 <span> 元素，用于关闭弹窗 that closes the modal
                // var span = document.getElementsByClassName("close")[0];
                // // 点击 <span> (x), 关闭弹窗
                // span.onclick = function () {
                //     modal.style.display = "none";
                // }
                // // 在用户点击其他地方时，关闭弹窗
                // window.onclick = function (event) {
                //     if (event.target == modal) {
                //         modal.style.display = "none";
                //     }
                // }           
                // return 

                if (this.isLoading == true) {
                    return
                }
                if (this.sourceURL == '') {
                    this.showError = true
                    this.errorMessage = '请先将视频链接粘贴到上面的输入框'
                    return
                }

                // if (this.ticket == '') {
                //     // 直接生成一个验证码对象
                //     var captcha1 = new TencentCaptcha('2040666355', function (res) {
                //         console.log(res)
                //         // res（用户主动关闭验证码）= {ret: 2, ticket: null}
                //         // res（验证成功） = {ret: 0, ticket: "String", randstr: "String"}
                //         if (res.ret === 0) {
                //             vm.ticket = res.ticket
                //             vm.randstr = res.randstr
                //             vm.postData()
                //         } else {
                //             alert('验证失败，请刷新页面再重试')
                //         }
                //     });
                //     captcha1.show(); // 显示验证码
                // } else {
                this.postData()
                    // }
            },
            clearURL: function() {
                this.hasResponse = false;
                this.showError = false;
                this.sourceURL = '';
                this.realDownloadURL = '';
                this.coverURL = '';
            },
            downloadVideo: function() {
                console.log(this.realDownloadURL)
                window.open('javascript:window.name;', '<script>location.replace("' + this.realDownloadURL +
                    '")<\/script>');
            },
            downloadCover: function() {
                console.log(this.coverURL)
                window.open('javascript:window.name;', '<script>location.replace("' + this.coverURL +
                    '")<\/script>');
            },
            postData: function() {
                this.parseBtnText = '解析中...'
                this.showError = false;
                this.hasResponse = false;

                this.isLoading = true;
                //发送post请求
                var url = this.sourceURL
                console.log(url)
                var ticket = this.ticket;
                var randstr = this.randstr;
                console.log(ticket)

                var r = generateRandom().toString()
                var parseTempStr = url + '@&^' + r
                var parseStr = generateStr(parseTempStr)
                var params = {
                    sourceURL: url,
                    e: parseStr,
                    r: r,
                    ticket: ticket,
                    randstr: randstr
                }

                var url = '/kuaishou'
                this.$http.post(url, JSON.stringify(params), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8',
                        'Referer': 'https://dy.kukutool.com/',
                        'token': '22dxy8bf7haegdj2gnylz072mxta41rk',
                        'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.131 Safari/537.36',
                    }
                }).then(function(res) {
                    this.parseBtnText = '解析'
                    this.isLoading = false;
                    if (res.data.data && res.data.status == 0) {
                        this.hasResponse = true;
                        this.realDownloadURL = res.data.data.realDownloadURL
                        this.coverURL = res.data.data.coverURL
                    } else {
                        this.showError = true;
                        if (res.data.errorMessage) {
                            if (res.data.errorMessage == '参数错误，请刷新后重试') {
                                this.ticket = null
                                    // 直接生成一个验证码对象
                                var captcha1 = new TencentCaptcha('2040666355', function(res) {
                                    console.log(res)
                                        // res（用户主动关闭验证码）= {ret: 2, ticket: null}
                                        // res（验证成功） = {ret: 0, ticket: "String", randstr: "String"}
                                    if (res.ret === 0) {
                                        vm.ticket = res.ticket
                                        vm.randstr = res.randstr
                                        vm.postData()
                                    } else {
                                        alert('验证失败，请刷新页面再重试')
                                    }
                                });
                                captcha1.show(); // 显示验证码                                
                            }
                            this.errorMessage = res.data.errorMessage;
                        } else {
                            this.errorMessage = "解析失败，服务器繁忙，请检查链接后重试。";
                        }
                    }
                }, function(res) {
                    this.parseBtnText = '解析'
                    this.hasResponse = true;
                    this.isLoading = false;
                    console.log(res.status);
                });
            }
        }
    });

    if (browser.versions.mobile || browser.versions.android || browser.versions.ios) {
        vm.isMobile = true;
    } else {
        vm.isMobile = false;
    }
</script>

</html>